asgiref==3.7.2
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
distlib==0.3.6
Django==4.2.2
djangorestframework==3.14.0
filelock==3.10.7
idna==3.4
mock-open==1.4.0
pipenv==2023.3.20
platformdirs==3.2.0
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.3
virtualenv==20.21.0
virtualenv-clone==0.5.7
